body {
  font-family: sans-serif;
}

ul, ol {
    margin: 0;
    padding: 0;
}
.version {
    opacity: 0.4;
}
.theme {
    cursor: pointer;
}

.header h2 {
    margin-bottom: .6em;
    font-weight: bold;
}

.search-input {
    margin-bottom: .5em;
}

.inner p {
    margin-bottom: 5px;
    margin-top: 5px;
}

.form-control.search-input {
    display: inline-block;
    width: auto;
}

.inner p:first-child {
  margin-top: 0;
}

.content {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.content h6,
.content p {
    margin: 0;
}

.inner {
    position: relative;
    background-size: cover;
    background-position: top left;
}
.theme:nth-child(odd) {
    background: #f2f2f2;
}
.inner p:last-child {
    margin-bottom: 0;
}

.content h6, .content p {
    margin: 0;
}

.content h6 {
    font-size: 12px;
}

.author {
    margin-left: 5px;
    color: #F44336;
    font-size: 10px;
    opacity: .4;
}

.inner {
    padding: 3px 8px;
    font-size: 10px;
}

.plugins,
.themes {
    list-style-type: decimal;
}
.themes,
.themes *,
.plugins,
.plugins * {
    box-sizing: border-box;
}
